#Options +FollowSymlinks -MultiViews
RewriteEngine on

Rewritecond %{HTTP_HOST} ^http://studentsplace.herokuapp.com
Rewritecond %{REQUEST_URI} !^/index.php
Rewriterule ^(.*)$ /index.php/ [L]
RewriteRule ^deposit$ /Deposit.php
RewriteRule ^connexion$ /Connexion.php [L]
RewriteRule ^annonce/(.*)$ /Fiche.php?ann=$1 [QSA]
RewriteRule ^commande/(.*)$ /Order.php?prod=$1 [QSA]